.root {
  display: inline-grid;
}

.root[data-layout='Horizontal'] {
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.root[data-layout='Vertical'] {
  width: 100%;
  grid-auto-flow: row;
}

.button {
  display: block;
  padding: 0;
  border: 0;
  background: transparent;
  appearance: none;
  cursor: pointer;
  font: inherit;
  text-align: left;
}

.button:focus {
  outline: none;
}
