.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: calc(var(--com-tab-gap) * 1px);
  height: calc(var(--pri-size-48) * 1px);
  padding: calc(var(--com-tab-padding-y) * 1px) calc(var(--com-tab-padding-x) * 1px);
  background: var(--com-tab-fill-color);
  user-select: none;
  box-sizing: border-box;
}

.root[data-layout='Horizontal'] {
  border-bottom-style: solid;
  border-bottom-color: var(--com-tab-border-color);
  border-bottom-width: calc(var(--com-tab-border-width-inactive) * 1px);
  border-top-left-radius: calc(var(--com-tab-corner-radius) * 1px);
  border-top-right-radius: calc(var(--com-tab-corner-radius) * 1px);
}

.root[data-layout='Vertical'] {
  width: 100%;
  justify-content: flex-start;
  border-left-style: solid;
  border-left-color: var(--com-tab-border-color);
  border-left-width: calc(var(--com-tab-border-width-inactive) * 1px);
  border-top-left-radius: calc(var(--com-tab-corner-radius) * 1px);
  border-bottom-left-radius: calc(var(--com-tab-corner-radius) * 1px);
}

.root[data-selected='true'][data-layout='Horizontal'] {
  border-bottom-width: calc(var(--com-tab-border-width-active) * 1px);
  border-bottom-color: var(--com-tab-border-color-active);
}

.root[data-selected='false'][data-layout='Horizontal'] {
  border-bottom-width: calc(var(--com-tab-border-width-inactive) * 1px);
}

.root[data-selected='true'][data-layout='Vertical'] {
  border-left-width: calc(var(--com-tab-border-width-active) * 1px);
  border-left-color: var(--com-tab-border-color-active);
}

.root[data-selected='false'][data-layout='Vertical'] {
  border-left-width: calc(var(--com-tab-border-width-inactive) * 1px);
}

.root[data-state='Hover'] {
  background: var(--com-tab-fill-color-hover);
}

.root[data-state='Pressed'] {
  background: var(--com-tab-fill-color-pressed);
}

.root[data-state='Disabled'] {
  background: var(--com-tab-fill-color-disabled);
}

.root[data-state='Hover'][data-selected='false'][data-layout='Horizontal'],
.root[data-state='Hover'][data-selected='false'][data-layout='Vertical'] {
  border-color: var(--com-tab-border-color-hover);
}

.root[data-state='Pressed'][data-selected='false'][data-layout='Horizontal'],
.root[data-state='Pressed'][data-selected='false'][data-layout='Vertical'] {
  border-color: var(--com-tab-border-color-pressed);
}

.root[data-state='Hover'][data-selected='true'][data-layout='Horizontal'],
.root[data-state='Hover'][data-selected='true'][data-layout='Vertical'],
.root[data-state='Pressed'][data-selected='true'][data-layout='Horizontal'],
.root[data-state='Pressed'][data-selected='true'][data-layout='Vertical'],
.root[data-state='Focused'][data-selected='true'][data-layout='Horizontal'],
.root[data-state='Focused'][data-selected='true'][data-layout='Vertical'] {
  border-color: var(--com-tab-border-color-active);
}

.root[data-state='Disabled'][data-layout='Horizontal'],
.root[data-state='Disabled'][data-layout='Vertical'] {
  border-color: var(--com-tab-border-color-disabled);
}

.root[data-state='Disabled'][data-selected='true'][data-layout='Horizontal'] {
  border-bottom-width: calc(var(--com-tab-border-width-active) * 1px);
}

.root[data-state='Disabled'][data-selected='true'][data-layout='Vertical'] {
  border-left-width: calc(var(--com-tab-border-width-active) * 1px);
}

.text {
  color: var(--com-tab-text-color);
  font-family: var(--pri-font-family-body), 'Segoe UI', sans-serif;
  font-size: calc(var(--pri-font-size-m) * 1px);
  line-height: calc(var(--pri-line-height-body) / 100);
  font-weight: 400;
}

.icon {
  display: inline-flex;
  color: var(--com-tab-icon-color);
  line-height: 0;
}

.root[data-selected='true'] .text {
  color: var(--com-tab-text-color-active);
  font-weight: 600;
}

.root[data-selected='true'] .icon {
  color: var(--com-tab-icon-color-active);
}

.root[data-state='Hover'][data-selected='false'] .text {
  color: var(--com-tab-text-color-hover);
}

.root[data-state='Hover'][data-selected='false'] .icon {
  color: var(--com-tab-icon-color-hover);
}

.root[data-state='Pressed'][data-selected='false'] .text {
  color: var(--com-tab-text-color-pressed);
}

.root[data-state='Pressed'][data-selected='false'] .icon {
  color: var(--com-tab-icon-color-pressed);
}

.root[data-state='Disabled'] .text {
  color: var(--com-tab-text-color-disabled);
}

.root[data-state='Disabled'] .icon {
  color: var(--com-tab-icon-color-disabled);
}
